
@{
    ViewBag.Title = "PassViewBag";
    var Nickname = ViewBag.Nickname;
    var height = ViewBag.Height;
    var weight = ViewBag.Weight;
    var married = ViewBag.Married;

    
}

<h2>PassViewBag</h2>
<ul>
    <li>@ViewBag.Nickname</li>
    <li>@(ViewBag.Height+5)</li>
    <li>@(ViewBag.Weight+3)</li>
    <li>@ViewBag.Married</li>
</ul>

